.main-container {
  margin: 50px 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filters-wrapper {
  display: flex;
  .delimiter-wrapper {
    margin-right: 20px;
  }
  .label {
    font-size: 14px;
    padding-bottom: 10px;
  }
}